node_modules/
dist/
resources/whisper/*.exe
resources/whisper/*.dll
resources/whisper/*.so
resources/whisper/*.dylib
uploads/
outputs/
*.log
.DS_Store
.claude
static/*.png
static/*.ico
static/*.svg
.gitignore
